<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center page_title">{{ heading_title }}</h1>
  </div>
</div>
<div class="products">
  <div class="row">
    {% for product in products %}
      <div class="col-sm-6 col-lg-3">
        <div class="product position-relative">
	        <div class="product__title">{{ product.name }}</div>
	        <div class="product__thumb">
	          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
	        </div>
	        <p class="product__descr">{{ product.description }}</p>
	        <div class="text-center">
	          <a href="{{ product.href }}"  class="stretched-link btn btn-primary btn-lg btn-block">Buy now</a>
	        </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
