<div class="bg-swipe-viewport" id="slideshowWrap{{ module }}">
    <div class="swiper-viewport">
      <div id="slideshow{{ module }}" class="swiper-container swiper">
        <div class="swiper-wrapper"> 
          {% for banner in banners %}
          <div class="swiper-slide">
              <div class="container">
                <div class="row is-table-row">
                    <div class="col-xs-12 col-md-8 col-md-push-4">
                    {% if banner.link %}
                    <a href="{{ banner.link }}">
                    <picture>
                     {# <source srcset="{{ banner.image_mob }}" media="(max-width: 480px)" /> #}
                    <img src="{{ banner.image }}" alt="{{ banner.title }}" width="{{ banner.image_w }}" height="{{ banner.image_h }}" class="img-responsive">
                    </picture>
                    </a>
                    {% else %}
                    <picture>
                     {# <source srcset="{{ banner.image_mob }}" media="(max-width: 480px)" /> #}
                    <img src="{{ banner.image }}" alt="{{ banner.title }}" width="{{ banner.image_w }}" height="{{ banner.image_h }}" class="img-responsive">
                    </picture>
                    {% endif %}</div>
                    <div class="col-xs-12 col-md-4 col-md-pull-8 is-middle">
                      <div class="slide-txt-wrp">
                        <div class="slide-title"> {{ banner.title }}</div>
                        <div class="slide-txt">
                           {{ banner.banner_text }}
                        </div> 
                      {% if banner.link %}<div class="slde-btn-wrp"><a class="btn btn-lg btn-outline-primary btn-slider" href="{{ banner.link }}">{{ text_more }}</a></div>{% endif %}
                      </div>
                    </div>
                </div>
              </div>

          </div>
          {% endfor %} 
        </div>
      </div>
      <div class="swiper-pagination slideshow{{ module }}"></div>
      <div class="swiper-pager">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
</div>
<script>
window.addEventListener("load", function(){
  const swiper = new Swiper('#slideshow{{ module }}', 
  { 
    preloadImages: false,
    lazy: true,
    loop: true,
    speed : 2000,
    spaceBetween: 30,
    mode: 'horizontal',
    disableOnInteraction: true,
    autoplay: {
      delay: 10000
    },
    pagination: {
      el: '.slideshow{{ module }}',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-pager .swiper-button-next',
      prevEl: '.swiper-pager .swiper-button-prev',
    },
  });
});
</script>