<p>{{ text_signup }}</p>
<p>{{ text_firstname }}&nbsp;<b>{{ firstname }}</b></p>
<p>{{ text_lastname }}&nbsp;<b>{{ lastname }}</b></p> 
<p>{{ text_email }}&nbsp;{{ email }}</p>
{# {{ text_telephone }} {{ telephone }} #}